body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: #369;
}

header {
  border-bottom: 1px solid #5f99cf;
  position: relative;
  background-color: #cee3f8;
  height: 65px;
}

#topbar {
  background-color: #f0f0f0;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-size: 90%;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
}

#topbar a {
  color: black;
}

#topbar a:hover {
  text-decoration: underline;
}

span.selected {
  color: orangered;
  font-weight: bold;
}

#header-bottom-left {
}

#header-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #EFF7FF;
  padding: 4px;
  line-height: 12px;
  border-top-left-radius: 7px;
  color: gray;
}

#sreddit-logo {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 8px;
  line-height: 1.3;
}

#subset-tabs {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 210px;
}

#subset-tabs span {
  font-size: larger;
  font-weight: bold;
  vertical-align: bottom;
  margin-right: 2px;
  padding: 2px 6px 0 6px;
  background-color: #eff7ff;
  text-decoration: none;
  color: #369;
}

#subset-tabs span.selected {
  color: orangered;
  background-color: white;
  border: 1px solid #5f99cf;
  border-bottom: 1px solid white;
  z-index: 100;
}

#subset-tabs a.selected {
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  font-size: larger;
}
