body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: #369;
}

header {
  border-bottom: 1px solid #5f99cf;
  position: relative;
  background-color: #cee3f8;
  height: 65px;
}

#topbar {
  background-color: #f0f0f0;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-size: 90%;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
}

#topbar a {
  color: black;
}

#topbar a:hover {
  text-decoration: underline;
}

span.selected {
  color: orangered;
  font-weight: bold;
}

#header-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #EFF7FF;
  padding: 4px;
  line-height: 12px;
  border-top-left-radius: 7px;
  color: gray;
}

#sreddit-logo {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 8px;
  line-height: 1.3;
}

#sreddit-logo .fa {
  font-size: 150%;
}

#subset-tabs {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 270px;
}

#subset-tabs span {
  font-size: larger;
  font-weight: bold;
  vertical-align: bottom;
  margin-right: 2px;
  padding: 2px 6px 0 6px;
  background-color: #eff7ff;
  text-decoration: none;
  color: #369;
}

#subset-tabs span.selected {
  color: orangered;
  background-color: white;
  border: 1px solid #5f99cf;
  border-bottom: 1px solid white;
  z-index: 100;
}

.side {
  float: right;
  background-color: white;
  margin: 0px 5px 0 5px;
  width: 300px;
}

.side .spacer {
  margin: 7px 0 12px 0;
}

#search {
  position: relative;
}

#search input[type=text] {
  border: 1px solid gray;
  font-size: 13px;
  font-family: verdana;
  width: 300px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 6px;
  padding-right: 25px;
  padding-left: 9px;
  vertical-align: middle;
}

.search-button {
  padding: 0;
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background-color: transparent;
  color: #a6a6a6;
  font-size: 150%;
}

#login-side {
  border: 1px solid gray;
}

#login-side input[type=text], input[type=password] {
  font-family: verdana;
  font-size: 11px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #999;
  width: 141px;
  margin: 5px 0px 0px 5px;
  top: 5px;
  padding: 6px;
}

#login-side input[type=submit] {
  float: right;
  margin: 3px;
}

.clear {
  clear: both;
}


.new-post-button {
  display: block;
  width: 300px;
  height: 35px;
  color: #369;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  border: 2px solid #E2EDF7;
  border-radius: 0px 32px 32px 0;
  background: linear-gradient(#FFFFFF, #ECF4FC);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.new-post-button:hover {
  background: linear-gradient(#BDD5EA, #77B2E9);
  color: white;
}

.container {
  padding: 10px 5px;
  font-size: 200%;
}

.container h1 {
  margin: 0;
}

.rank {
  display: inline-block;
  width: 20px;
  color: #d6d6d6;
  font-family: arial;
  font-size: medium;
  text-align: right;
}

.voting-area {
  display: inline-block;
  width: 55px;
  color: #b6b6b6;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: smaller;
}

.voting-area span {
  display: block;
}


.post {
  margin-bottom: 10px;
}

.post a {
  color: blue;
  font-size: medium;
}

.post p {
  font-size: 50%;
  color: #888;
  margin: 2px 0;
}

section.post-content {
  display: inline-block;
  vertical-align: middle;
}

.post-content > a:visited {
  color: #551a8b;
}

.post p.submission-info {
}

.submission-info a {
  font-size: 100%;
  color: #369;
}

.comment-count a {
  font-size: 100%;
  color: #888;
  font-weight: bold;
  margin-right: 6px;
}

.comment-count a:hover {
  text-decoration: underline;
}
