<div class="container">
  <h1>Welcome to SinatraReddit!</h1>
  <ul>
    <% @posts.each do |post| %>
      <li><%= post.score %> - <a href="/<%= resource_name(post) %>/<%= post.id %>"><%= post.title %></a></li>
    <% end %>
  </ul>
</div>
