<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div id="topbar"><span class="selected">front</span> |
      <% Subreddit.all.each do |sr| %>
        <a href="/subreddits/<%= sr.id %>"><%= sr.name %></a> -
      <% end %>
    </div>
    <div id="header-bottom-left">
      <span id="sreddit-logo"><span class="fa fa-pied-piper-alt"></span> sinatra-reddit</span>
      <nav id="subset-tabs">
        <span class="selected">hot</span>
        <span>new</span>
        <span>rising</span>
        <span>controversial</span>
        <span>top</span>
      </nav>
    </div>
    <div id="header-bottom-right">
      want to join? <a href="/sessions/new">sign in</a> or <a href="/users/new/">create an account</a> in seconds
    </div>
  </header>
  <div class="side">
    <div class="spacer">
      <form action="/search" id="search" method="POST">
        <input type="text" name="search_text" placeholder="search">
        <button type="submit" class="search-button"><span class="fa fa-search"></span></button>
      </form>
    </div>
    <div class="spacer">
      <form action="/sessions/new" id="login-side" method="POST">
        <input type="text" name="user[username]" placeholder="username">
        <input type="password" name="user[password]" placeholder="password">
        <input type="submit" value="login">
        <div class="clear"></div>
      </form>
    </div>
    <div class="spacer">
      <a class="new-post-button" href="">Submit a new link</a>
    </div>
    <div class="spacer new-post-button">
      Submit a new text post
    </div>
  </div>
  <div class="modal">
    <div id="modal-background"></div>
    <div id="modal-container">
      <div id="modal-content">
        <section id="modal-section-left" class="modal-section">
          <h4>Create a new account</h4>
          <form id="new-account-form" action="/users" method="post">
            <input type="text" name="user[username]" placeholder="choose a username">
            <input type="password" name="user[password]" placeholder="choose a password">
            <input type="text" name="user[email]" placeholder="email (optional)">
            <button type="submit">create account</button>
          </form>
        </section>
        <section id="modal-section-right" class="modal-section">
          <h4>Sign in</h4>
          <form id="sign-in-form" action="/sessions" method="post">
            <input type="text" name="user[username]" placeholder="username">
            <input type="password" name="user[password]" placeholder="password">
            <button type="submit">sign in</button>
          </form>
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
